pkgbase = clilol-bin
	pkgdesc = A CLI for omg.lol
	pkgver = 0.3.1
	pkgrel = 1
	url = https://mcornick.com/clilol/
	license = MPL-2.0
	conflicts = clilol
	provides = clilol
	arch = aarch64
	source_aarch64 = https://github.com/mcornick/clilol/releases/download/v0.3.1/clilol_0.3.1_linux_arm64.tar.gz
	sha256sums_aarch64 = d3bf65572f290ba5f9b09e108b09a4712d671e71eef0322ccd107b14bbfd1aa7
	arch = armv6h
	source_armv6h = https://github.com/mcornick/clilol/releases/download/v0.3.1/clilol_0.3.1_linux_armv6.tar.gz
	sha256sums_armv6h = 3b53fd93df321c570a495fc025f27a1926bd9fd5c32b15c5afcb36dd17b84d36
	arch = i686
	source_i686 = https://github.com/mcornick/clilol/releases/download/v0.3.1/clilol_0.3.1_linux_386.tar.gz
	sha256sums_i686 = 6780d1fdce9e709026b89dc559cbaa544e302d78c128d4e09cc65c5bcdba0b1d
	arch = x86_64
	source_x86_64 = https://github.com/mcornick/clilol/releases/download/v0.3.1/clilol_0.3.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 68815246e104716a4ad0aee18aa9f08eb12deb3a015d358f397a440cffd130ec
	
pkgname = clilol-bin
