pkgbase = clilol-bin
	pkgdesc = A CLI for omg.lol
	pkgver = 1.1.2
	pkgrel = 1
	url = https://clilol.readthedocs.io/
	license = MPL-2.0
	conflicts = clilol
	provides = clilol
	arch = aarch64
	source_aarch64 = https://github.com/mcornick/clilol/releases/download/v1.1.2/clilol_1.1.2_linux_arm64.tar.gz
	sha256sums_aarch64 = aa7a5823dc92def26557ef244484ea12320655f41da8c0efd9b4e151c005a77d
	arch = i686
	source_i686 = https://github.com/mcornick/clilol/releases/download/v1.1.2/clilol_1.1.2_linux_386.tar.gz
	sha256sums_i686 = 5fcfe7035b7434cc8d37bdc4795295b88212c846ee3c987b955a3f28b6865880
	arch = x86_64
	source_x86_64 = https://github.com/mcornick/clilol/releases/download/v1.1.2/clilol_1.1.2_linux_amd64.tar.gz
	sha256sums_x86_64 = 0ef1899d614b90c4e308e168e8863bbb0be6cc5256d85240d6d4cd8117ab10e1
	
pkgname = clilol-bin
