pkgbase = clilol-bin
	pkgdesc = A CLI for omg.lol
	pkgver = 1.0.6
	pkgrel = 1
	url = https://mcornick.com/clilol/
	license = MPL-2.0
	conflicts = clilol
	provides = clilol
	arch = aarch64
	source_aarch64 = https://git.mcornick.dev/mcornick/clilol/releases/download/v1.0.6/clilol_1.0.6_linux_arm64.tar.gz
	sha256sums_aarch64 = 75c5e9051f31716d607ed756cd5f8b342e960c69e08c221c13d7fea0eae63a30
	arch = armv6h
	source_armv6h = https://git.mcornick.dev/mcornick/clilol/releases/download/v1.0.6/clilol_1.0.6_linux_armv6.tar.gz
	sha256sums_armv6h = 3a14fc84f674ea06f22d3df740a7157bdbfddb9ea1b93b762568ec77e96bc5cf
	arch = i686
	source_i686 = https://git.mcornick.dev/mcornick/clilol/releases/download/v1.0.6/clilol_1.0.6_linux_386.tar.gz
	sha256sums_i686 = 3774e5a994ac92abd36ed22498c3c6540806be5f7ed0c931abfcc28fc76c85fc
	arch = x86_64
	source_x86_64 = https://git.mcornick.dev/mcornick/clilol/releases/download/v1.0.6/clilol_1.0.6_linux_amd64.tar.gz
	sha256sums_x86_64 = 9670b37d6daaa6dd8d04bbf7b2e169d1a747ca004a08d698cc675ad6c6a9a615
	
pkgname = clilol-bin
